<nav class="navbar fixed-top navbar-expand-lg  navbar-dark bg-primary" style="height:100px;">
  <a class="navbar-brand" href="/">Weatherr</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav w-100">
     <li class="nav-item ml-auto">
        <a class="nav-link" href="/bd">Looking for Weather of your city</a>
      </li>
 
      <li class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fas fa-user-secret"></i>     Manage  Account
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

{{#if variable}}
          <a class="dropdown-item" href="/user/profile"> User Account</a>
          <a class="dropdown-item" href="/logout">Log out</a>
      {{else}}
          <a class="dropdown-item" href="/user/signin">login</a>
           <a class="dropdown-item" href="/user/signup">Register</a>
        {{/if}}
        </div>
      </li>
    </ul>  
  </div>
</nav>



