<div class="row">
<div class="col-md-4 col-md-4-offset">
<h1>Sign Up </h1>
{{#if hasErrors}}

</div>{{# each messages}}
<p>{{ this }} </p>

{{/each}}
{{/if}}
<form method="post" action="/user/signup">
    <div class="from-group">
    <label for="email"> Email</label>
   <input type="email" name="email" id="email" class="form-control">
    </div>
   <div class="form-group">
    <label for="password"> password</label>
<input type="password" name="password" id="password" class="form-control">
 </div>
 <input type="hidden" name="_csrf" value="{{ csrftoken}}">
<button type="submit">Sign Up</button>

</form>
</div>

