
.thumbnail {
  position: relative;
  margin-bottom: 30px;
  border: thin silver solid;

  padding: 0.5em;
}

.thumbnail img {
  max-height: 150px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}



#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 280px;
  background: 
  /* color overlay */ 
    linear-gradient(
      rgba(240, 212, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    ),
    /* image to overlay */
    url(http://images.cdn.fotopedia.com/_avPIZmqM3w-7z161LH_268-hd.jpg);
}


.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 30px 0;
}
.footertext {
  color: #ffffff;
}